
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h1 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h1>
    </div>
    <ul class="list-group menu"><a class="list-group-item title">{{ user.info.password.email || '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' }}</a><a ng-click="settings.devmode = !settings.devmode" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a ng-show="settings.overlap === 'on'" ng-click="settings.overlap = 'off'" class="list-group-item"> Overlap <i class="glyphicon glyphicon-ok"></i></a><a ng-hide="settings.overlap === 'on'" ng-click="settings.overlap = 'on'" class="list-group-item"> Overlap </a><a ng-show="user.info.email" ng-click="user.logout()" class="list-group-item">Sign Out</a></ul>
  </div>
</div>
<div class="row space">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div ng-hide="login.show === 'signedup'" class="panel panel-dark space">
      <div class="panel-body">    <b>Sign up to track your own personal well-being index! </b><span ng-hide="login.show">Already a member?<a ng-click="login.show = 'login'"> Log in</a> instead to see your well-being index as of today.</span><span ng-show="login.show">Not yet a member?<a ng-click="login.show = false"> Sign up</a></span></div>
    </div>
    <div ng-show="login.show === 'login'" class="space">
      <div ng-show="login.wrong === 'INVALID_EMAIL'" class="alert alert-danger">Please enter a valid email address</div>
      <div ng-show="login.wrong === 'INVALID_PASSWORD' || login.wrong === 'INVALID_USER'" class="alert alert-danger">Your username or password is incorrect</div>
      <div ng-show="signup.wrong === 'in'" class="alert alert-info">Logging you in...</div>
      <form ng-submit="login.submit()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" name="email" placeholder="Enter your email" ng-model="login.email" ng-class="{ invalid: login.wrong === 'INVALID_EMAIL' }" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" placeholder="{{ login.placeholder.password }}" ng-model="login.password" ng-class="{ invalid: login.wrong === 'INVALID_PASSWORD' }" class="form-control"/>
        </div>
        <div class="auth clearfix">
          <input type="submit" value="Login" class="btn dark pull-right"/>
        </div>
      </form>
    </div>
    <div ng-hide="login.show" class="space">
      <div ng-show="signup.wrong === 'INVALID_EMAIL'" class="alert alert-danger">Please enter a valid email address</div>
      <div ng-show="signup.wrong === 'INVALID_PASSWORD'" class="alert alert-danger">Please enter a password</div>
      <div ng-show="signup.wrong === 'mismatch'" class="alert alert-danger">Your passwords do not match</div>
      <div ng-show="signup.wrong === 'in'" class="alert alert-info">Logging you in...</div>
      <form ng-submit="signup.submit()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" name="email" placeholder="{{ signup.placeholder.email }}" ng-model="signup.email" ng-class="{ invalid: signup.wrong === 'INVALID_EMAIL' }" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="{{ signup.placeholder.password }}" ng-model="signup.password" ng-class="{ invalid: signup.wrong === 'INVALID_PASSWORD' }" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="password" name="password" placeholder="{{ signup.placeholder.confirm }}" ng-model="signup.confirm" ng-class="{ invalid: signup.wrong === 'mismatch' }" class="form-control"/>
        </div>
        <div class="auth clearfix">
          <input type="submit" value="Sign Up" class="btn dark pull-right"/><a href="#/results" class="btn light pull-right margin-right">Continue without registration</a>
        </div>
      </form>
    </div>
    <div ng-show="login.show === 'signedup'" class="space">
      <h2><b>Thank You for Signing Up!</b></h2>
    </div>
  </div>
</div>