
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h1 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h1>
    </div>
    <div class="nav">
      <ul ng-show="user.info.provider === &quot;anonymous&quot;" class="list-group menu"><a class="list-group-item title">Anonymous</a><a ng-click="user.unauth()" class="list-group-item">Sign Out</a></ul>
      <ul ng-show="user.info.password.email" class="list-group menu"><a class="list-group-item title">{{ user.info.password.email }}</a><a ng-click="settings.devmode = !settings.devmode" ng-show="isAdmin" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a href="/" class="list-group-item">Surveys</a><a ng-click="user.unauth()" class="list-group-item">Sign Out</a></ul>
      <div class="btn-group pull-right margin-right"><a class="btn btn-default no-pointer">Font Size</a><a ng-click="font.decreaseSize()" class="btn btn-default"><b>-</b></a><a ng-click="font.increaseSize()" class="btn btn-default"><b>+</b></a></div>
    </div>
  </div>
</div>
<div class="row space"></div>
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Consent</h3>
      <p>Please consider this information carefully before deciding whether to participate in this research.</p><br/>
      <h5>Purpose of the research:</h5>
      <p>We are a group of scientists, affiliated with Cornell University and the University of Michigan, gathering data to develop an index of subjective well-being. If you have any questions about the research or your participation in this study, feel free to contact us: Professors <a href="mailto:db468@cornell.edu">Daniel Benjamin, </a><a href="mailto:oh33@cornell.edu">Ori Heffetz, </a><a href="mailto:mkimball@umich.edu">Miles Kimball</a></p><br/>
      <h5>What we will ask you about:</h5>
      <p>We will ask you a series of questions, first about the level of various aspects of your well-being and then about the relative importance of each of these aspects in your life.</p><br/>
      <h5>Risks:</h5>
      <p>No risks are anticipated.</p><br/>
      <h5>Confidentiality:</h5>
      <p>All research data will be collected anonymously and we will not store any personally-identifiable information. Your responses will be collected over an encrypted SSL connection, the same level of security that protects your username and password when you sign on to Gmail or Amazon.com.</p><br/>
      <h5>Participation and withdrawal:</h5>
      <p>Your participation in this study is completely voluntary. At any time you may choose to terminate your survey sesssion and we will not store your survey responses. </p><br/>
      <div class="space">
        <label>
          <input type="checkbox" ng-model="consent"/>I have read the above disclosure and agree to participate in this study
        </label>
      </div><a href="#/survey" ng-show="consent" class="btn btn-primary pull-right">Continue</a>
    </div>
  </div>
</div>