
<div class="row topbar">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="flex wrap">
      <div class="logo">
        <object data="assets/logo.svg" type="image/svg+xml" className="logo"></object>
      </div>
      <div class="flex">
        <div class="one-line-group"><a class="btn btn-default no-pointer">Font Size</a><a ng-click="font.decreaseSize()" class="btn btn-default"><b>-</b></a><a ng-click="font.increaseSize()" class="btn btn-default"><b>+</b></a></div>
        <ul ng-show="user.info.provider === &quot;anonymous&quot;" class="list-group menu"><a class="list-group-item title">Anonymous</a><a ng-click="user.unauth()" class="list-group-item">Sign Out</a></ul>
        <div class="drop"><a class="list-group-item title">{{ user.info.password.email }}</a>
          <div class="items"><a ng-click="settings.devmode = !settings.devmode" ng-show="isAdmin" class="list-group-item">Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a href="/" class="list-group-item">Surveys</a><a ng-click="user.unauth()" class="list-group-item">Sign Out</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row font-reset">
  <prog complete="completed"></prog>
</div>
<div class="row space">
  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-5">
        <h3 class="align-center">Option 1</h3>
      </div>
      <div class="col-xs-5">
        <h3 class="align-center">Option 2</h3>
      </div>
    </div>
    <div ng-repeat="p in pairs" class="row">
      <div class="line space"></div>
      <div class="col-xs-2 space">
        <h4 class="align-right"><i>Scenario {{ $index + 1 }}:</i></h4>
      </div>
      <div class="col-xs-5">
        <div ng-class="{ chosen: selections[$index] === 1, unchosen: selections[$index] === 2 }" ng-click="selections[$index] = 1" class="option panel panel-default space pad">
          <li class="scale active">
            <h5><span>{{ p[0] | capitalize }}</span><span class="pull-right">{{ levels[p[0]] + 4 | round1 }}</span></h5>
            <bar name="aspects.names[$index]" level="levels[p[0]]" diff="4"></bar>
          </li>
          <li class="scale active">
            <h5><span>{{ p[1] | capitalize }}</span><span class="pull-right">{{ levels[p[1]] }}</span></h5>
            <bar name="aspects.names[($index + 1) % 5]" level="levels[p[1]]"></bar>
          </li>
        </div>
      </div>
      <div class="col-xs-5">
        <div ng-class="{ chosen: selections[$index] === 2, unchosen: selections[$index] === 1 }" ng-click="selections[$index] = 2" class="option panel panel-default space pad">
          <li class="scale active">
            <h5><span>{{ p[0] | capitalize }}</span><span class="pull-right">{{ levels[p[0]] | round1 }}</span></h5>
            <bar name="aspects.names[$index]" level="levels[p[0]]"></bar>
          </li>
          <li class="scale active">
            <h5><span>{{ p[1] | capitalize }}</span><span class="pull-right">{{ levels[p[1]] + 4 }}</span></h5>
            <bar name="aspects.names[($index + 1) % 5]" level="levels[p[1]]" diff="4"></bar>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>