
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h1 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h1>
    </div>
    <ul class="list-group menu"><a class="list-group-item title">{{ user.info().email || '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' }}</a><a ng-click="settings.devmode = !settings.devmode" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a ng-show="user.info().email" ng-click="user.logout()" class="list-group-item">Sign Out</a></ul>
  </div>
</div>
<div class="row space">
  <div class="col-md-3">
    <table ng-show="settings.devmode" class="table col-md-3 graph">
      <thead>
        <tr>
          <th></th>
          <th ng-repeat="b in aspects.names">{{ b }} </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="a in aspects.names">
          <td><b>{{ a }}</b></td>
          <td ng-repeat="b in aspects.names">{{ weight(a, b) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-hide="choice" class="col-md-6">
    <div class="row">
      <div class="col-xs-8">
        <sicilian responses="responses" weights="weights"></sicilian>
      </div>
      <div class="col-xs-4">
        <h2>{{ score | number: 1 }} <span class="text-muted">/ 100</span></h2><br/>
        <h2><b>Your Values:</b></h2>
        <h4 ng-repeat="aspect in aspects.sorted">
          <svg width="16" height="16">
            <rect width="16" height="16" fill="{{ aspects.color(aspect, 100) }}"></rect>
          </svg>&nbsp&nbsp{{ weights[aspect] | percent }} {{ aspect }}
        </h4>
      </div>
    </div>
    <div ng-show="settings.devmode">
      <h2>Based on Your Data:</h2>
      <pre>{{ data }}</pre>
    </div>
  </div>
  <div ng-show="choice" class="col-md-6 trade">
    <div class="panel panel-default">
      <div class="panel-body">Now, imagine you are making a personal decision between two options: Option 1 and Option 2. Each option is predicted to affect only one of the aspects you rated, as shown below. <a ng-click="further = true" ng-show="!further" class="pointer">Further explanation</a><a ng-click="further = false" ng-show="further" class="pointer">Less explanation</a>
        <p ng-show="further">
          The scales below show these predicted differences in the next four years:
          under Option 1, your rating of your <b>{{ choice[0].name | lowercase }} </b>would improve by <b>{{ choice[0].diff}} points</b>, while under Option 2, your rating of your <b>{{ choice[1].name | lowercase }}</b> would improve by <b>{{ choice[1].diff }} points. </b>(As the scales show, your rating of all other aspects would not change regardless of the option you choose.)
        </p>
      </div>
    </div>
    <div class="choices">
      <div class="options clearfix">
        <ul ng-click="choose(choice[0].name, choice[0].name, choice[1].name, choice[0].diff, choice[1].diff)" class="col-xs-6">
          <div class="option panel panel-default">
            <h3>Option 1</h3>
            <li class="scale active">
              <h5><span>{{ aspects.texts[choice[0].name] }}</span><span class="pull-right">{{ choice[0].level + choice[0].diff | round1 }}</span></h5>
              <div bar="bar" name="choice[0].name" level="choice[0].level" diff="choice[0].diff" class="bar"></div>
            </li>
            <li class="scale active">
              <h5><span>{{ aspects.texts[choice[1].name] }}</span><span class="pull-right">{{ choice[1].level }}</span></h5>
              <div bar="bar" name="choice[1].name" level="choice[1].level" class="bar"></div>
            </li>
            <li ng-repeat="aspect in aspects.names" ng-hide="choice[0].name === aspect || choice[1].name === aspect" class="scale">
              <h5><span>{{ aspects.texts[aspect] }}</span><span class="pull-right">{{ responses[aspect].level }}</span></h5>
              <div bar="bar" name="aspect" level="responses[aspect].level" class="bar"></div>
            </li><br/>
          </div><br/><a class="btn btn-lg light full-width">I Prefer Option 1</a>
        </ul>
        <ul ng-click="choose(choice[1].name, choice[0].name, choice[1].name, choice[0].diff, choice[1].diff)" class="col-xs-6">
          <div class="option panel panel-default">
            <h3>Option 2</h3>
            <li class="scale active">
              <h5><span>{{ aspects.texts[choice[0].name] }}</span><span class="pull-right">{{ choice[0].level }}</span></h5>
              <div bar="bar" name="choice[0].name" level="choice[0].level" class="bar"></div>
            </li>
            <li class="scale active">
              <h5><span>{{ aspects.texts[choice[1].name] }}</span><span class="pull-right">{{ choice[1].level + choice[1].diff| round1 }}</span></h5>
              <div bar="bar" name="choice[1].name" level="choice[1].level" diff="choice[1].diff" class="bar"></div>
            </li>
            <li ng-repeat="aspect in aspects.names" ng-hide="choice[0].name === aspect || choice[1].name === aspect" class="scale">
              <h5><span>{{ aspects.texts[aspect] }}</span><span class="pull-right">{{ responses[aspect].level }}</span></h5>
              <div bar="bar" name="aspect" level="responses[aspect].level" class="bar"></div>
            </li><br/>
          </div><br/><a class="btn btn-lg light full-width">I Prefer Option 2</a>
        </ul>
      </div>
    </div>
  </div>
</div>