
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h2 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h2>
    </div>
    <ul class="list-group menu"><a href="#/history" class="list-group-item title">{{ user.info().email || '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' }}</a><a ng-click="settings.devmode = !settings.devmode" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a ng-show="user.info().email" ng-click="user.logout()" class="list-group-item">Sign Out</a></ul>
  </div>
</div>
<div class="row space">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="index-title">Your well-being index</h3>
        <h5 class="index-title">Based on your own ratings of the aspects and on the relative weight you gave each aspect:</h5>
      </div>
      <div class="panel-body">
        <plot data="data"></plot>
      </div>
    </div><br/>
    <div class="alert alert-info">We hope to see you again soon! By responding to our questions on a regular basis you can track changes in your ratings of the aspects, in the relative weights you give the aspects, and in your personal well-being index.</div>
  </div>
</div>