
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h2 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h2>
    </div>
    <ul class="list-group menu"><a href="#/history" class="list-group-item title">{{ user.info().email || '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' }}</a><a ng-click="settings.devmode = !settings.devmode" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a ng-show="user.info().email" ng-click="user.logout()" class="list-group-item">Sign Out</a></ul>
  </div>
</div>
<div class="row">
  <div earth="earth" class="splash">
    <div class="earth"></div>
  </div>
  <div class="col-sm-3 col-sm-offset-3">
    <div class="welcome panel panel-default">
      <h5>What is a good life <i>for you? </i>Answer our questions to track your own well-being the way <i>you </i>see it.</h5>
      <p>This website is in preliminary development stages and should be used for demonstration purposes only. Its methods are based on Benjamin, Daniel J., Ori Heffetz, Miles S. Kimball, and Nichole Szembrot (2013), <a href="http://ssrn.com/abstract=2120784" target="_blank">"Beyond Happiness and Satisfaction: Toward Well-Being Indices Based on Stated Preference.” </a>American Economic Review, forthcoming.</p>
    </div>
  </div>
  <div class="col-sm-3">
    <div ng-include="'login.html'" class="welcome panel panel-default"></div>
    <div ng-include="'signup.html'" class="welcome panel panel-default"></div>
  </div>
</div>