
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h1 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h1>
    </div>
    <ul class="list-group menu"><a class="list-group-item title">{{ user.info().email || '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' }}</a><a ng-click="settings.devmode = !settings.devmode" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a ng-show="user.info().email" ng-click="user.logout()" class="list-group-item">Sign Out</a></ul>
  </div>
</div>
<div class="row space">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-xs-4">
        <li ng-repeat="(name, value) in responses">
          <h5>
            <svg width="16" height="16">
              <rect width="16" height="16" fill="{{ color(name, 140) }}"></rect>
            </svg>&nbsp&nbsp{{ name }} 
          </h5><span>level : {{ value.level }}, weight : {{ weights[name] | number: 2 }}</span>
          <input type="range" min="0" max="100" step="1" ng-model="value.level"/><span>MRS : 2^{{ MRS[name] }}</span>
          <input type="range" min="-4" max="4" step="1" ng-model="MRS[name]"/>
        </li>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-6">
        <pie weights="weights"></pie>
        <pie responses="responses" weights="weights"></pie>
        <h5>Sorted by level:</h5>
        <sicilian responses="responses" weights="weights" sort="level"></sicilian>
        <h5>Sorted by weight:</h5>
        <sicilian responses="responses" weights="weights" sort="weight"></sicilian>
        <vertical responses="responses" weights="weights" sort="left"></vertical>
        <vertical responses="responses" weights="weights" sort="right"></vertical>
      </div>
    </div>
  </div>
</div>