
<div class="row topbar">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="flex wrap">
      <div class="logo">
        <object data="assets/logo.svg" type="image/svg+xml" className="logo"></object>
      </div>
      <div class="flex">
        <div class="one-line-group"><a class="btn btn-default no-pointer">Font Size</a><a ng-click="font.decreaseSize()" class="btn btn-default"><b>-</b></a><a ng-click="font.increaseSize()" class="btn btn-default"><b>+</b></a></div>
        <ul ng-show="user.info.provider === &quot;anonymous&quot;" class="list-group menu"><a class="list-group-item title">Anonymous</a><a ng-click="user.unauth()" class="list-group-item">Sign Out</a></ul>
        <div class="drop"><a class="list-group-item title">{{ user.info.password.email }}</a>
          <div class="items"><a ng-click="settings.devmode = !settings.devmode" ng-show="isAdmin" class="list-group-item">Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a href="/" class="list-group-item">Surveys</a><a ng-click="user.unauth()" class="list-group-item">Sign Out</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row font-reset">
  <prog complete="completed"></prog>
</div>
<div class="row space">
  <div class="col-md-3">
    <ul ng-if="settings.devmode">
      <li ng-repeat="a in aspects.names"><b>{{ a }}</b><b class="text-muted"> {{ responses[a] }}</b>
        <ul>
          <li ng-repeat="b in aspects.names"><span>{{ b }} : {{ choices.getMRS(b, a) }}</span></li>
        </ul>
      </li>
    </ul>
  </div>
  <div ng-if="!overlap.preamble" class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="large">In the questions that will follow, we will ask you to compare options involving changes in different aspects well-being. When an option involves changes in more than one aspect of well-being, these aspects of well-being may be either totally distinct or they may mean similar things. When two aspects of well-being mean similar things, and both change, please consider the change indicated as being a bigger change only to the extent that two aspects of well-being actually do cover different things. </p><a ng-click="hidePreamble()" class="btn btn-primary pull-right space">Continue</a>
      </div>
    </div>
  </div>
  <div ng-show="choice &amp;&amp; overlap.preamble" class="col-md-6 trade">
    <div class="panel panel-default">
      <div class="panel-body">Each option either increases or decreases the level of one or two of the aspects you rated. Please choose which option you would prefer. </div>
    </div>
    <div class="choices">
      <div class="options clearfix">
        <ul ng-click="choose(choice.i *  2 + 1)" class="col-xs-6">
          <div class="option panel panel-default">
            <h3>Option 1</h3>
            <li class="scale active"><span><b class="pull-right pad-right">{{ responses[abc.aspects[0]] + cue.deltaOne | round1 }}</b>
                <p><i>{{ aspects.texts[abc.aspects[0]] | capitalize }}</i></p></span>
              <diff animate="animate.one" choice="choice" name="abc.aspects[0]" level="responses[abc.aspects[0]]" diff="overlap.doubled ? choice.tradeoff[0] * 2 : choice.tradeoff[0]" delta="cue.deltaOne"></diff>
            </li>
            <li class="scale active"><span><b class="pull-right pad-right">{{ responses[abc.aspects[1]] }}</b>
                <p><i>{{ aspects.texts[abc.aspects[1]] | capitalize }}</i></p></span>
              <diff choice="choice" name="abc.aspects[1]" level="responses[abc.aspects[1]]"></diff>
            </li>
            <li class="scale active"><span><b class="pull-right pad-right">{{ responses[abc.aspects[2]] }}</b>
                <p><i>{{ aspects.texts[abc.aspects[2]] | capitalize }}</i></p></span>
              <diff choice="choice" name="abc.aspects[2]" level="responses[abc.aspects[2]]"></diff>
            </li>
            <li ng-repeat="aspect in aspects.names" ng-hide="abc.aspects[0] === aspect || abc.aspects[1] === aspect || abc.aspects[2] === aspect" class="scale"><span><b class="pull-right pad-right">{{ responses[aspect] }}</b>
                <p><i>{{ aspects.texts[aspect] | capitalize }}</i></p></span>
              <diff choice="choice" name="aspect" level="responses[aspect]"></diff>
            </li><br/>
          </div><br/><a class="btn btn-lg light full-width">I Prefer Option 1</a>
        </ul>
        <ul ng-click="choose(choice.i *  2 + 2)" class="col-xs-6">
          <div class="option panel panel-default">
            <h3>Option 2</h3>
            <li class="scale active"><span><b class="pull-right pad-right">{{ responses[abc.aspects[0]] | round1 }}</b>
                <p><i>{{ aspects.texts[abc.aspects[0]] | capitalize }}</i></p></span>
              <diff choice="choice" name="abc.aspects[0]" level="responses[abc.aspects[0]]"></diff>
            </li>
            <li class="scale active"><span><b class="pull-right pad-right">{{ responses[abc.aspects[1]] + cue.deltaTwo }}</b>
                <p><i>{{ aspects.texts[abc.aspects[1]] | capitalize }}</i></p></span>
              <diff animate="animate.two" choice="choice" name="abc.aspects[1]" level="responses[abc.aspects[1]]" diff="choice.tradeoff[1]" delta="cue.deltaTwo"></diff>
            </li>
            <li class="scale active"><span><b class="pull-right pad-right">{{ responses[abc.aspects[2]] + cue.deltaTwo }}</b>
                <p><i>{{ aspects.texts[abc.aspects[2]] | capitalize }}</i></p></span>
              <diff animate="animate.two" choice="choice" name="abc.aspects[2]" level="responses[abc.aspects[2]]" diff="choice.tradeoff[1]" delta="cue.deltaTwo"></diff>
            </li>
            <li ng-repeat="aspect in aspects.names" ng-hide="abc.aspects[0] === aspect || abc.aspects[1] === aspect || abc.aspects[2] === aspect" class="scale"><span><b class="pull-right pad-right">{{ responses[aspect] }}</b>
                <p><i>{{ aspects.texts[aspect] | capitalize }}</i></p></span>
              <diff choice="choice" name="aspect" level="responses[aspect]"></diff>
            </li><br/>
          </div><br/><a class="btn btn-lg light full-width">I Prefer Option 2</a>
        </ul>
      </div>
    </div>
  </div>
</div>