
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h1 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h1>
    </div>
    <ul class="list-group menu"><a class="list-group-item title">{{ user.info().email || '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' }}</a><a ng-click="settings.devmode = !settings.devmode" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a ng-show="user.info().email" ng-click="user.logout()" class="list-group-item">Sign Out</a></ul>
  </div>
</div>
<div class="row font-reset">
  <prog complete="completed"></prog>
</div>
<div class="row space">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div ng-show="choice" class="panel panel-default">
      <div class="panel-body">
        The two options below present two scenarios. 
        Please choose the scenario you feel is the most <b>realistic.</b>
      </div>
    </div>
    <div ng-show="choice" class="row space">
      <div class="col-xs-6">
        <div ng-click="choose(choice.a)" class="panel panel-default option">
          <div class="panel-body">
            <p class="text-muted">Option 1</p>
            <p>
              {{ choice.a | capitalize }} 
              is <b>greater than </b>{{choice.b }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div ng-click="choose(choice.b)" class="panel panel-default option">
          <div class="panel-body">
            <p class="text-muted">Option 2</p>
            <p>
              {{ choice.b | capitalize }} 
              is <b>greater than </b>{{choice.a }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="choice" class="panel panel-default">
      <div class="panel-body">As a percentage of <b>{{ percent.d }}, </b>how would you rate  <b>{{ percent.n }}.</b></div>
    </div>
    <div ng-hide="choice" class="panel panel-default space">
      <div class="panel-body">
        <p>{{ percent.n | capitalize }} is <b>{{ percent.p / 100 | percent }} </b>of {{ percent.d }}</p>
        <range level="percent.p"></range>
        <bar name="color" level="percent.p"></bar><a ng-click="rate(percent.p)" class="btn btn-primary pull-right space">Next</a>
      </div>
    </div>
  </div>
</div>