
<div ng-show="signup.wrong === 'INVALID_EMAIL'" class="alert alert-danger">Please enter a valid email address</div>
<div ng-show="signup.wrong === 'INVALID_PASSWORD'" class="alert alert-danger">Please enter a password</div>
<div ng-show="signup.wrong === 'mismatch'" class="alert alert-danger">Your passwords do not match</div>
<div ng-show="signup.wrong === 'in'" class="alert alert-info">Logging you in...</div>
<form ng-submit="signup.submit()">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="text" name="email" placeholder="{{ signup.placeholder.email }}" ng-model="signup.email" ng-class="{ invalid: signup.wrong === 'INVALID_EMAIL' }" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="{{ signup.placeholder.password }}" ng-model="signup.password" ng-class="{ invalid: signup.wrong === 'INVALID_PASSWORD' }" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="password">Confirm Password</label>
    <input type="password" name="password" placeholder="{{ signup.placeholder.confirm }}" ng-model="signup.confirm" ng-class="{ invalid: signup.wrong === 'mismatch' }" class="form-control"/>
  </div>
  <div class="auth clearfix">
    <input type="submit" value="Sign Up" class="btn dark pull-right"/>
  </div>
</form>