
<h3>New user?</h3>
<div class="form-group">
  <input type="text" name="email" placeholder="Enter your email" ng-model="signup.email" class="form-control"/>
</div>
<div class="form-group">
  <input type="password" name="password" placeholder="Password" ng-model="signup.password" class="form-control"/>
</div>
<div class="form-group">
  <input type="password" name="password" placeholder="Confirm password" ng-model="signup.confirm" class="form-control"/>
</div>
<div class="auth clearfix"><a ng-click="signup.submit()" class="btn light pull-right">Sign Up</a></div>