
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h1 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h1>
    </div>
    <ul class="list-group menu"><a class="list-group-item title">{{ user.info().email || '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' }}</a><a ng-click="settings.devmode = !settings.devmode" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a ng-show="user.info().email" ng-click="user.logout()" class="list-group-item">Sign Out</a></ul>
  </div>
</div>
<div class="row font-reset">
  <prog complete="completed"></prog>
</div>
<div class="row space">
  <div class="col-md-3">
    <h5>top:</h5>
    <li ng-repeat="a in choices.candidates" ng-show="settings.devmode" ng-init="settings.devmode = true">{{ a }}</li>
    <h5>rest:</h5>
    <li ng-repeat="a in choices.comparisons" ng-show="settings.devmode" ng-init="settings.devmode = true">{{ a }}</li>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">Each pair of options that appears below present a choice between two scenarios. The scenarios exclusively improve one aspect of your well-being. For each pair, choose the option you prefer.</div>
    </div>
    <div class="row"><a ng-click="next()" ng-show="finished" class="btn btn-primary pull-right space">Next</a></div>
    <div ng-repeat="a in choices.comparisons" ng-show="prevDone($index) &amp;&amp; !choices.top" class="row space">
      <div class="col-xs-6">
        <div ng-click="pref[a] = 1" ng-class="{ chosen: pref[a] === 1, unchosen: pref[a] === 2 }" class="panel panel-default option">
          <div class="panel-body">
            <p class="text-muted">Option 1</p>
            <p><b>Improve </b>{{ choices.pivot }}</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div ng-click="pref[a] = 2" ng-class="{ chosen: pref[a] === 2, unchosen: pref[a] === 1 }" class="panel panel-default option">
          <div class="panel-body">
            <p class="text-muted">Option 2</p>
            <p><b>Improve </b>{{ a }}</p>
          </div>
        </div>
      </div>
    </div>
    <li ng-repeat="a in choices.top">
      <h4>{{ a }}</h4>
    </li>
  </div>
</div>