
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h1 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h1>
    </div>
    <ul class="list-group menu"><a class="list-group-item title">{{ user.info().email || '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' }}</a><a ng-click="settings.devmode = !settings.devmode" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a ng-show="user.info().email" ng-click="user.logout()" class="list-group-item">Sign Out</a></ul>
  </div>
</div>
<div class="row space">
  <div class="col-md-6 col-md-offset-3 trade">
    <div class="panel panel-default">
      <div class="panel-body">Now, imagine you are making a personal decision between two options: Option 1 and Option 2. Each option is predicted to affect only one of the aspects you rated, as shown below. <a ng-click="further = true" ng-show="!further" class="pointer">Further explanation</a><a ng-click="further = false" ng-show="further" class="pointer">Less explanation</a>
        <p ng-show="further">
          The scales below show these predicted differences in the next four years:
          under Option 1, your rating of your <b>{{ choice.numeraire.name | lowercase }} </b>would improve by <b>{{ choice.numeraire.diff }} points</b>, while under Option 2, your rating of your <b>{{ choice.comparison.name | lowercase }}</b> would improve by <b>{{ choice.comparison.diff }} points. </b>(As the scales show, your rating of all other aspects would not change regardless of the option you choose.)
        </p>
      </div>
    </div><br/>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5><span>{{ choice.a.text }}</span><span class="pull-right">{{ choice.a.level + choice.a.diff }}</span></h5>
        <div range="range" name="choice.a.name" level="choice.a.level" change="choice.a.change"></div>
        <div bar="bar" name="choice.a.name" level="choice.a.level" diff="choice.a.diff"></div>
        <h5><span>{{ choice.b.text }}</span><span class="pull-right">{{ choice.b.level + choice.b.diff }}</span></h5>
        <div bar="bar" name="choice.b.name" level="choice.b.level" diff="choice.b.diff"></div>
      </div>
    </div>
  </div>
</div>