
<div class="row topbar">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="flex wrap">
      <div class="logo">
        <object data="assets/logo.svg" type="image/svg+xml" className="logo"></object>
      </div>
      <div class="flex">
        <div class="one-line-group"><a class="btn btn-default no-pointer">Font Size</a><a ng-click="font.decreaseSize()" class="btn btn-default"><b>-</b></a><a ng-click="font.increaseSize()" class="btn btn-default"><b>+</b></a></div>
        <ul ng-show="user.info.provider === &quot;anonymous&quot;" class="list-group menu"><a class="list-group-item title">Anonymous</a><a ng-click="user.unauth()" class="list-group-item">Sign Out</a></ul>
        <div class="drop"><a class="list-group-item title">{{ user.info.password.email }}</a>
          <div class="items"><a ng-click="settings.devmode = !settings.devmode" ng-show="isAdmin" class="list-group-item">Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a href="/" class="list-group-item">Surveys</a><a ng-click="user.unauth()" class="list-group-item">Sign Out</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row font-reset">
  <prog complete="completed"></prog>
</div>
<div class="row space">
  <div class="col-md-3">
    <div ng-show="settings.instruct" class="panel panel-default">
      <div class="panel-body">
        <p><b>Instructions</b></p>
        <p>Each option either increases or decreases the level of one of the aspects you rated. Please choose which option you would prefer.</p><a ng-click="settings.instruct = false" class="btn btn-default pull-right">Got It</a>
      </div>
    </div>
    <ul ng-show="settings.devmode">
      <li ng-repeat="a in aspects.names"><b>{{ a }}</b><b class="text-muted"> {{ responses[a] }}</b>
        <ul>
          <li ng-repeat="b in aspects.names"><span>{{ b }} : {{ choices.getMRS(b, a) }}</span></li>
        </ul>
      </li>
    </ul>
  </div>
  <div ng-show="tradeoff.preamble" class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="large">
          On each of the following 
          screens, we will ask you to choose between two different ways in which your life might change. On each screen you will have two options to choose from. In each option, levels of some of the aspects of your life that you have just rated will either increase or decrease.
        </p><a ng-click="hidePreamble()" class="btn btn-primary pull-right space">Continue</a>
      </div>
    </div>
  </div>
  <div ng-show="choice &amp;&amp; !tradeoff.preamble" class="col-md-6">
    <div class="parent"> 
      <div class="scenario space">
        <div class="row aspects">
          <div class="col-xs-5">
            <h4 class="pad"><i>{{ aspects.texts[choice.aspects[0]] | capitalize }}</i></h4>
          </div>
          <div class="col-xs-5">
            <h4 class="pad"><i>{{ aspects.texts[choice.aspects[1]] | capitalize }}</i></h4>
          </div>
        </div>
        <div style="margin-top:-2em;padding-right:15px;" class="row">
          <h4 class="pull-right"><b>Option 1</b></h4>
        </div>
        <div ng-click="options.select(1)" class="row option">
          <div class="col-xs-5">
            <li class="scale active"><span class="pull-right">{{ responses[choice.aspects[0]] + choice.tradeoff[0] | round1 }}</span>
              <bar choice="choice" name="choice.aspects[0]" level="responses[choice.aspects[0]]" diff="choice.tradeoff[0]"></bar>
            </li>
          </div>
          <div class="col-xs-5">
            <li class="scale active"><span class="pull-right">{{ responses[choice.aspects[1]] | round1 }}</span>
              <bar choice="choice" name="choice.aspects[1]" level="responses[choice.aspects[1]]"></bar>
            </li>
          </div>
          <div class="col-xs-2 full-height">
            <div class="vertical-align-right">
              <input type="radio" ng-checked="options.choice === 1"/>
            </div>
          </div>
        </div>
        <h4 class="align-right"><b>Option 2</b></h4>
        <div ng-click="options.select(2)" class="row option">
          <div class="col-xs-5">
            <li class="scale active"><span class="pull-right">{{ responses[choice.aspects[0]] | round1 }}</span>
              <bar choice="choice" name="choice.aspects[0]" level="responses[choice.aspects[0]]"></bar>
            </li>
          </div>
          <div class="col-xs-5">
            <li class="scale active"><span class="pull-right">{{ responses[choice.aspects[1]] + choice.tradeoff[1] }}</span>
              <bar choice="choice" name="choice.aspects[1]" level="responses[choice.aspects[1]]" diff="choice.tradeoff[1]"></bar>
            </li>
          </div>
          <div class="col-xs-2 full-height">
            <div class="vertical-align-right">
              <input type="radio" ng-checked="options.choice === 2"/>
            </div>
          </div>
        </div>
      </div>
    </div><a ng-click="choose()" ng-show="options.choice" class="btn btn-primary pull-right space">Next</a>
  </div>
</div>