
<div class="row topbar">
  <div class="col-md-6 col-md-offset-3">
    <div class="logo">
      <h1 class="align-right">
        <div class="small pull-right">β </div>What is a Good Life?
      </h1>
    </div>
    <ul class="list-group menu"><a class="list-group-item title">{{ user.info().email || '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' }}</a><a ng-click="settings.devmode = !settings.devmode" class="list-group-item"> Dev Mode <i ng-show="settings.devmode" class="glyphicon glyphicon-ok"></i></a><a ng-show="user.info().email" ng-click="user.logout()" class="list-group-item">Sign Out</a></ul>
  </div>
</div>
<div class="row font-reset">
  <prog complete="choice.completed"></prog>
</div>
<div class="row space">
  <div class="col-md-3">
    <ul ng-show="settings.devmode">
      <li ng-repeat="a in aspects.names"><b>{{ a }}</b><b class="text-muted"> {{ responses[a].level }}</b>
        <ul>
          <li ng-repeat="b in aspects.names"><span>{{ b }} : {{ choices.getMRS(b, a) }}</span></li>
        </ul>
      </li>
    </ul>
  </div>
  <div ng-show="choice" class="col-md-6 trade">
    <div class="panel panel-default">
      <div class="panel-body">Each option either increases or decreases the level of one of the aspects you rated. Please choose which option you would prefer. </div>
    </div>
    <div class="choices">
      <div class="options clearfix">
        <ul ng-click="choose(choice.i *  2 + 1)" class="col-xs-6">
          <div class="option panel panel-default">
            <h3>Option 1</h3>
            <li class="scale active">
              <h5><span>{{ aspects.texts[choice.aspects[0]] | capitalize }}</span><span class="pull-right">{{ responses[choice.aspects[0]].level + choice.tradeoff[0] | round1 }}</span></h5>
              <diff name="choice.aspects[0]" level="responses[choice.aspects[0]].level" diff="choice.tradeoff[0]"></diff>
            </li>
            <li class="scale active">
              <h5><span>{{ aspects.texts[choice.aspects[1]] | capitalize }}</span><span class="pull-right">{{ responses[choice.aspects[1]].level }}</span></h5>
              <diff name="choice.aspects[1]" level="responses[choice.aspects[1]].level"></diff>
            </li>
            <li ng-repeat="aspect in aspects.names" ng-hide="choice.aspects[0] === aspect || choice.aspects[1] === aspect" class="scale">
              <h5><span>{{ aspects.texts[aspect] | capitalize }}</span><span class="pull-right">{{ responses[aspect].level }}</span></h5>
              <bar name="aspect" level="responses[aspect].level" choice="choice"></bar>
            </li><br/>
          </div><br/><a class="btn btn-lg light full-width">I Prefer Option 1</a>
        </ul>
        <ul ng-click="choose(choice.i *  2 + 2)" class="col-xs-6">
          <div class="option panel panel-default">
            <h3>Option 2</h3>
            <li class="scale active">
              <h5><span>{{ aspects.texts[choice.aspects[0]] | capitalize }}</span><span class="pull-right">{{ responses[choice.aspects[0]].level | round1 }}</span></h5>
              <diff name="choice.aspects[0]" level="responses[choice.aspects[0]].level"></diff>
            </li>
            <li class="scale active">
              <h5><span>{{ aspects.texts[choice.aspects[1]] | capitalize }}</span><span class="pull-right">{{ responses[choice.aspects[1]].level + choice.tradeoff[1] }}</span></h5>
              <diff name="choice.aspects[1]" level="responses[choice.aspects[1]].level" diff="choice.tradeoff[1]"></diff>
            </li>
            <li ng-repeat="aspect in aspects.names" ng-hide="choice.aspects[0] === aspect || choice.aspects[1] === aspect" class="scale">
              <h5><span>{{ aspects.texts[aspect] | capitalize }}</span><span class="pull-right">{{ responses[aspect].level }}</span></h5>
              <bar name="aspect" level="responses[aspect].level" choice="choice"></bar>
            </li><br/>
          </div><br/><a class="btn btn-lg light full-width">I Prefer Option 2</a>
        </ul>
      </div>
    </div>
  </div>
</div>