
<div class="row">
  <div ng-include="'topbar.html'" class="topbar col-md-6 col-md-offset-3"></div>
</div>
<div class="col-md-2">
  <table ng-show="settings.devmode" class="table">
    <thead>
      <tr>
        <th>Aspect</th>
        <th>Level</th>
        <th>Lower</th>
        <th>Upper</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="aspect in aspects">
        <td>{{ aspect }}</td>
        <td>{{ responses[aspect].level }}</td>
        <td>{{ responses[aspect].lower }}</td>
        <td>{{ responses[aspect].upper }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-6 col-md-offset-1 trade">
  <div class="panel panel-default">
    <div class="panel-body">Now, imagine you are making a personal decision between two options: Option 1 and Option 2. Each option is predicted to affect only one of the aspects you rated, as shown below. <a ng-click="further = !further">Further explanation</a>
      <p ng-show="further">
        The scales below show these predicted differences in the next four years:
        under Option 1, your rating of your <b>{{ choice.numeraire.name | lowercase }} </b>would improve by <b>{{ choice.numeraire.diff }} points</b>, while under Option 2, your rating of your <b>{{ choice.comparison.name | lowercase }}</b> would improve by <b>{{ choice.comparison.diff }} points. </b>(As the scales show, your rating of all other aspects would not change regardless of the option you choose.)
      </p>
    </div>
  </div>
  <div class="choices">
    <div class="options clearfix">
      <ul class="col-md-6 option">
        <h3>Option 1</h3>
        <li ng-repeat="aspect in aspects" class="scale">
          <div slider="slider" fixed="true" name="{{ aspect }}" diff="{{ left[aspect].diff }}" ng-class="{ active: left[aspect].diff || right[aspect].diff }" class="fixed"></div>
        </li>
      </ul>
      <ul class="col-md-6 option">
        <h3>Option 2</h3>
        <li ng-repeat="aspect in aspects" class="scale">
          <div slider="slider" fixed="true" name="{{ aspect }}" diff="{{ right[aspect].diff }}" ng-class="{ active: left[aspect].diff || right[aspect].diff }" class="fixed"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="question">
    <div class="prefs"><a ng-show="prefs.degree" ng-click="prefs.next()" class="btn btn-primary pull-right">Next choice</a>
      <h4>Between these two options, which do you prefer?</h4>
    </div>
    <div class="prefs">
      <h5 class="pull-left">Much prefer Option 1</h5>
      <h5 class="pull-right">Much prefer Option 2</h5>
    </div>
    <div class="prefs">
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="-5"/>
      </label>
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="-4"/>
      </label>
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="-3"/>
      </label>
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="-2"/>
      </label>
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="-1"/>
      </label>
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="1"/>
      </label>
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="2"/>
      </label>
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="3"/>
      </label>
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="4"/>
      </label>
      <label class="pref">
        <input type="radio" name="pref" ng-model="prefs.degree" value="5"/>
      </label>
    </div>
  </div>
</div>