
<div class="logo">
  <h1 class="align-right">
    <div class="small pull-right">β</div>Well-Being Index
  </h1>
</div>
<div ng-show="!user.info().email" class="auth clearfix"><a ng-click="splash.url = 'login.html'" class="btn pull-right">Login</a><a ng-click="splash.url = 'signup.html'" class="btn pull-right">Sign Up</a></div>
<div ng-show="user.info().email" class="auth clearfix"><span class="email pull-left">{{ user.info().email }}</span><a href="#/survey" class="btn pull-right">Continue</a><a ng-click="user.logout()" class="btn pull-right">Sign Out</a></div>